 
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap');
 :root
 {
     --color-primary: #7380ec;
     --color-danger: #ff7782;
     --color-success: #41f1b6;
     --color-warning: #ffbb55;
     --color-white: #fff;
     --color-info-dark: #7d8da1;
     --color-info-light: #dce1eb;
     --color-dark: #363949;
     --color-light: rgba(132, 139, 200, 0.18);
     --color-primary-varient: #111e88;
     --color--backgroung: #f6f6f9;
     --color--dark--varient: #677483;
 
     --cord-border-radius: 2rem;
     --border-radius-1: 0.4rem;
     --border-radius-2: 0.8rem; 
     --border-radius-3: 1.2rem;
 
     --card-padding: 1.8rem;
     --padding-1: 1.2rem;
 
     box-shadow: 0 2rem 3rem var(--color-light);
 }
 *
 {
     margin: 0;
     padding: 0;
     outline: 0;
     appearance: none;
     border: 100%;
     list-style: none;
     box-sizing: border-box;
 }
  html {
    font-size: 14px; 
 }
 
 body {
    
     font-family: poppins,sans-serif;
     /* font-size: 0.88rem; */
     /* background:  var(--color-background); */
     user-select: none;
     overflow-x: hidden;
 }
 .container
 {
     border:1px;
     width: 96%;
     margin: 0 auto;
     gap: 1.8rem;
     grid-template-columns: 14rem auto 23rem;
     margin-right: 100%;
     margin-top: 10px;
    
 }
 .column {
   float: left;
 }
 .menu {
   width: 230px;
  
 }
 a {
     color: var(--color-dark);
 }
 h3 
 {
     font-size: 13px;
 }
 h5 
 {
   font-size: 15px;
   font-weight:600;
 }
 p 
 {
    
     font-weight:600;
     font-size: 18px;
 }
 
 
 /* img{
     display:block;
     width: 100%;
 } */
 /* h1 {
     font-weight: 800px;
     font-size: 1.8rem;
 }
 h2
 {
     font-size: 1.4rem;
 }
 h3 
 {
     font-size: 0.87rem;
 }
 h4
 {
   font-size: 0.8rem;
 }
 h5 
 {
   font-size: 0.77rem;
 }
 small
 {
     font-size: 0.75rem;
 }
 .profilo-photo
 {
     width: 2.8rem;
     height: 2.8rem;
     border-radius: 50%;
     overflow: hidden;
 }
 .text-muted
 {
     color: var(--color-info-dark)
 }
 p 
 {
     color: var(--color--dark--varient)
 }
 b
 {
 color: var(--color-dark)
 }
 .primary
 {
     color: var(--color-primary);
 }
 .danger
 {
     color: var(--color-danger);
 }
 .success
 {
     color: var(--color-success);
 }
 .warning
 {
     color: var(--color-warning);
 } */
  /* nav
  {
     height: 100%;
  } */
  nav .top
  {
     background:white;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 15px;
     margin-left: 0px;
  }
   /* nav .logo
  {
     display: flex;
     gap: 0.8rem
  }  */
  /* nav .logo img
  {
     width: 8rem;
     height: 70rem;
    
  } */
  nav .close
  {
     display: none;
  }
 
  /* sidbar */
  nav .sidebar
  {
     background:white;
     display: flex;
     flex-direction: column;
     height: 86vh;
     position: relative;
     top: 3rem;
     width: 100%;
     border-left: 50%;
  }
  nav h3
  {
     font-weight: 500px;
  }
  nav .sidebar a
  {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
    text-decoration: none;
  }
  nav .sidebar a span
  {
     font-size: 1.6rem;
     transition: all 300ms ease;
  }
  nav .sidebar a:last-child
  {
     position: absolute;
     bottom: 2rem;
     width: 100%;
  }
  nav .sidebar a:last-child
  {
     position: absolute;
     top:500px
  }
  nav .sidebar a.active
  {
     background: var(--color-light);
     color: var(--color-primary);
     margin-left: 0;
  }
 nav .sidebar a.active:before
 {
     content: '';
     width: 6px;
     height: 100%;
     background: var(--color-primary);
 }
 
 nav .sidebar a.active span
 {
     color: var(--color-primary);
     margin-left: calc(1rem - 3px);
 }
 nav .sidebar a:hover
 {
     color:var(--color-primary)
 }
 nav .sidebar a:hover span
 {
     margin-left: 1rem;
 } 
  /* .card body {
     border-radius:100%;
 
 } */
 
   
   /* CARDS */
 .cards i 
 {
    font-size: 25px;
    color:var(--color-success);
    margin: 20px;
    background-color:#9093a9;
    border-radius: 100%;
    border: 1px ;
    padding: 20px;
    text-align: center;
 }
 .icon{
    text-align: center;
    padding-top: 5px;
 }
 .patients 
 {
    padding:15px;
    text-align: center;
 }
 .cards .card
 {
    height: 100%;
    margin-top: 5%;
    letter-spacing: .5px;
 }
 .cards2 .card
 {
    height: 100%;
    margin-top: 5%;
    overflow:auto;
 }
 .d-flex
 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    margin-left: 70%;
 }
 .button
 {
   text-align: end;
 }
 

 
 .cards3 .card
 {
    height: 100%;
    margin-top: 15%;
 }
 .cards4 .card
 {
    height: 100%;
    margin-top: 15%;
    
 }
 
 

 /* CARDS */
 .section1 i 
 {
    font-size: 25px;
    color:var(--color-primary);
   border-radius:50%;
    border-style: ridge;
    border:1px solid;
    padding: 15px;  
  
 }
 .icon
 {
    text-align: center;
    padding-top:30px;  
 } 
 .patients 
 {
    text-align: center;
   padding-top: 20px;;
 }
 .patients p{
    font-size: 18px;
    color: #336cfb!important;
 }
 .section1 .card
 { 
    background-color:var(--color-white);
    margin-top: 10%;
    height: 100%;
    letter-spacing: .5px;
    margin-right: 3%;
    

 }
 .section2 .card
 {
     margin-top: 5%;
     overflow: auto;
   
       
 }
 .d-flex
 {
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 70%;
 }
 .button
 {
   text-align: end;
 }
 .bar .card
 {
    margin-top:10px ;
 }
 
 .endcard .card
 {
    margin-top: 15%;
   
    

 }


 .sidenav {
    width:var(--offcanvas-witdh);
}

 @media (min-width:992px)
{
    body{
        overflow: auto !important;
    }
    .offacanvas-backdrop::before{
        display: none;
    }
    .sidenav{
        transform: none;
        visibility: visible !important;
        top:var(--top-navbarheight);
        height: calc(100% - var(--top-navbarheight));
    }
}

:root{
box-shadow: 0 2rem 3rem var(--color-light);
--offcanvas-witdh:230px;
--top-navbarheight:49.25px;
}